<div class="h-dvh flex flex-col">
    <div class="h-9/10 px-3 py-2 overflow-y-scroll">
        <ng-container *ngFor="let message of messages">
            <div class="w-3/5 p-3 mb-3 bg-color-dark-grey-lighter rounded" [ngClass]="getDynamicClasses(message)">{{ message.content }}</div>
        </ng-container>
    </div>
    <div class="h-1/10 px-3 flex align-items-center justify-content-center">
        <input type="text" class="w-full py-1 px-2 text-lg" placeholder="Schreibe eine Nachricht..." (keyup.enter)="onMessageSubmit()" #message />
    </div>
</div>