@let competitionValue = competition();
@let titlesValue = titles();
<ng-container *ngIf="isLoading(); else loadedContent">
    <div class="bg-color-dark-grey-darker py-3 rounded-lg mt-3 mx-3">
        <div class="flex align-items-center">
            <div class="basis-1/6 mr-1 flex align-items-center justify-content-center p-2">
                <div class="skeleton-circle-medium"></div>
            </div>
            <div class="flex-grow-1 flex align-items-center justify-content-start py-2">
                <div class="skeleton-box-medium"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadedContent>
    <div class="bg-color-dark-grey-darker py-3 rounded-lg mt-3 mx-3" *ngIf="competitionValue">
        <div class="flex align-items-center">
            <div class="basis-1/5 flex align-items-center justify-content-center mr-3" *ngIf="competitionValue.iconSmall">
                <div class="width-3rem">
                    <app-ui-icon [descriptor]="{ 'type': 'competition', 'content': competitionValue.iconSmall }" />
                </div>
            </div>
            <div class="flex-grow">
                <div>
                    <span class="mr-2 text-xl">
                        <span class="bold"> {{ competitionValue.name }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-color-dark-grey-darker p-3 rounded-lg mt-3 mx-3 mb-8" *ngIf="titlesValue.length > 0">
        <div class="page-title mb-6">
            <div>{{ 'competition.titles' | $t }}</div>
        </div>
        <div>
            @for (title of titlesValue; track title.id) {
                <app-competition-title [competitionTitle]="title" />
            }
        </div>
    </div>
</ng-template>