<div class="lineup-container">
    <ng-container *ngIf="lineup.tacticalFormation; else lineupList">
        <div class="lineup-pitch flex flex-col">
            <ng-container *ngFor="let row of getLineup()">
                <div class="lineup-row flex justify-content-evenly" [ngClass]="row.additionalClasses">
                    <ng-container *ngFor="let item of row.items">
                        <div class="lineup-item flex-grow" [ngClass]="item.additionalClasses">
                            <app-game-lineup-item [player]="item.person" />
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-template #lineupList>
        <ng-container *ngFor="let starter of getStarters()">
            <div class="mt-3 pl-1">
                <app-game-person-item [person]="starter" />
            </div>
        </ng-container>
    </ng-template>

    <div class="lineup-manager mt-4 text-sm">
        <div class="uppercase text-sm bold text-light-grey-darker mb-4">{{ 'game.manager' | $t }}</div>
        <ng-container *ngFor="let manager of getManagers()">
            <div class="mt-3 pl-1">
                <app-game-person-item [person]="manager" />
            </div>
        </ng-container>
    </div>

    <div class="lineup-substitutes mt-8 text-sm">
        <div class="uppercase text-sm bold text-light-grey-darker mb-4">{{ 'game.substitutes' | $t }}</div>
        <ng-container *ngFor="let substitute of getSubstitutes()">
            <div class="mt-3 pl-1">
                <app-game-person-item [person]="substitute" />
            </div>
        </ng-container>
    </div>
</div>