.tab-selector {
    margin-right: .5rem;
    transition: background-color .15s linear, color .15s linear;
}

.tab-selector:last-child {
    margin-right: 0;
}

@media (hover: hover) {
    .tab-selector:hover {
        background-color: #545454;
    }
}