@let currentAbsencesValue = currentAbsences();
<app-modal>
    <div header>{{ 'modal.editGameAbsences' | $t }}</div>
    <div content>
        <div>
            <ng-container *ngIf="currentAbsencesValue.length > 0; else loadAbsencesSection">
                <app-absence-list-editor [absences]="currentAbsencesValue" [activeSquad]="activeSquadMembers()" />
            </ng-container>
            <ng-template #loadAbsencesSection>
                <app-button [buttonType]="'action'" [text]="'action.loadPotentialAbsences' | $t" (onClicked)="loadPotentialAbsences()" />
            </ng-template>
        </div>
    </div>
    <div footer>
        <div class="flex justify-content-center">
            <div class="w-full">
                <div class="flex align-items-center justify-content-between mt-12">
                    <app-button class="mx-4" [buttonType]="'secondary'" [text]="'action.cancel' | $t" (onClicked)="onCancel()" />
                    <app-button class="mx-4" [buttonType]="'success'" [text]="'action.save' | $t" (onClicked)="onConfirm()" />
                </div>
            </div>
        </div>
    </div>
</app-modal>