.image-container {
    flex: 0 0 9%;
}

.select-search {
    background-color: #777;
    border-style: none;
    border-bottom: 2px solid transparent;
    transition: border .15s linear;
}

.select-search:focus {
    border-bottom: 2px solid var(--light);
}