@let currentPayloadValue = currentPayload();
<app-modal>
    <div header>{{ 'modal.competitionFilter' | $t }}</div>
    <div content>
        <div class="flex align-items-center flex-wrap gap-y-2">
            @for (competition of currentPayloadValue.availableCompetitions; track competition.id) {
                <div class="min-h-32 flex align-items-center p-1 rounded-md mr-2 last:mr-0 hover:bg-color-dark-grey transition-bg-color pointer">
                    <div class="mr-2"><input type="checkbox" (change)="onValueChange($event)" /></div>
                    <div *ngIf="competition.iconSmall" class="width-1-25rem mr-1">
                        <app-ui-icon [descriptor]="{ 'type': 'competition', 'content': competition.iconSmall }" />
                    </div>
                    <div>{{ getCompetitionName(competition.shortName) }}</div>
                </div>
            }
        </div>
    </div>
    <div footer>
        <div class="flex justify-content-center">
            <div class="w-full">
                <div class="flex align-items-center justify-content-between mt-12">
                    <app-button class="mx-4" [buttonType]="'secondary'" [text]="'action.cancel' | $t" (onClicked)="onCancel()" />
                    <app-button class="mx-4" [buttonType]="'success'" [text]="'action.apply' | $t" (onClicked)="onConfirm()" />
                </div>
            </div>
        </div>
    </div>
</app-modal>