@let competitionChipsValue = competitionChips();
@let filterOptionValue = selectedFilterOption();
<app-modal>
    <div header>{{ 'modal.competitionFilter' | $t }}</div>
    <div content>
        <div class="mb-5">
            <app-select [optionsSource]="getFilterOptions()" [selectedOption]="pushSelectedFilterOption$" (onSelected)="onFilterOptionSelect($event)" />
        </div>
        <div *ngIf="filterOptionValue === 'custom'" class="flex align-items-center flex-wrap gap-y-2">
            @for (chip of competitionChipsValue; track chip.id) {
                <app-checkbox-chip [chip]="chip" (checkedValueChanged)="onChipValueChanged($event)" />
            }
        </div>
    </div>
    <div footer>
        <div class="flex justify-content-center">
            <div class="w-full">
                <div class="flex align-items-center justify-content-between mt-12">
                    <app-button class="mx-4" [buttonType]="'secondary'" [text]="'action.cancel' | $t" (onClicked)="onCancel()" />
                    <app-button class="mx-4" [buttonType]="'success'" [text]="'action.apply' | $t" (onClicked)="onConfirm()" />
                </div>
            </div>
        </div>
    </div>
</app-modal>