@let periodValue = period();
<div class="bg-color-dark-grey-darker hover:bg-color-dark-grey-mid transition-bg-color p-2 rounded-lg mt-3 pointer">
    <div class="mb-4 text-sm text-light-grey">
        {{ durationText() }}
    </div>
    <div class="flex align-items-center">
        <div class="basis-1/10 mr-3 flex align-items-center justify-content-center" *ngIf="periodValue.person.avatar">
            <div class="width-2-25rem">
                <app-ui-icon [descriptor]="{ 'type': 'person', 'content': periodValue.person.avatar }" />
            </div>
        </div>
        <div class="flex align-items-center">{{ personName() }}</div>
    </div>
</div>