<ng-container *ngIf="externalLinks !== undefined && externalLinks.length > 0">
    @for (externalLink of externalLinks; track $index) {
        <div class="mt-2 flex align-items-center pointer transition-colors text-light-grey-darker hover:text-light" (click)="externalLinkClicked(externalLink.link)">
            <div class="birthday-icon-container mr-2">
                <div class="width-xs relative top-1">
                    <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': externalLink.provider}" />
                </div>
            </div>
            <div>
                <span class="text-sm capitalize">{{ externalLink.provider }}</span>
            </div>
        </div>
    }
</ng-container>