<div class="px-2">
    <app-stepper [stepConfig$]="modifyGameSteps$">
        <app-stepper-item [stepId]="'general'" [displayName]="'game.modify.general' | $t">
            <div>
                <app-lineup-selector [titleText]="'lineup.starting' | $t" />
            </div>

            <div class="mt-4">
                <app-lineup-selector [titleText]="'lineup.substitutes' | $t" />
            </div>
        </app-stepper-item>
        <app-stepper-item [stepId]="'lineups'" [displayName]="'game.modify.lineups' | $t">
            lineups
        </app-stepper-item>
        <app-stepper-item [stepId]="'events'" [displayName]="'game.modify.events' | $t">
            {{ 'game.modify.events' | $t }}
        </app-stepper-item>
    </app-stepper>
    <div class="px-2 mt-3 text-right pointer" (click)="onNextClicked()">next</div>
</div>