<div class="px-2">
    <div class="page-title mb-5 ml-1">{{ (isEditMode() ? 'pageTitle.editGame' : 'pageTitle.createGame') | $t }}</div>
    <app-stepper [stepConfig$]="modifyGameSteps$">
        <app-stepper-item [stepId]="'general'" [displayName]="'game.modify.general' | $t">
            <div class="mt-4">
                <app-modify-base-game [input]="baseGameInformation$" (onUpdate)="onBaseGameInformationUpdate($event)" />
            </div>
        </app-stepper-item>
        <app-stepper-item [stepId]="'lineups'" [displayName]="'game.modify.lineups' | $t">
            <div class="mt-4">
                <app-modify-game-lineups [input]="baseGameInformation$" (onGameLineupUpdated)="onGameLineupUpdate($event)" />
            </div>
        </app-stepper-item>
        <app-stepper-item [stepId]="'events'" [displayName]="'game.modify.events' | $t">
            <app-game-event-editor [baseGame]="baseGameInformation$" [gameLineup]="gameLineup$" (onGameEventsUpdated)="onGameEventsUpdate($event)" />
        </app-stepper-item>
    </app-stepper>
    <div class="px-2 my-8 flex justify-content-between" [ngClass]="{ 'justify-content-between': currentStep() !== 'general', 'justify-content-end': currentStep() === 'general' }">
        <div *ngIf="currentStep() !== 'general'">
            <div class="mr-5" (click)="onBackClicked()">
                back
            </div>
        </div>
        <div class="flex">
            <div class="mr-5" (click)="onSaveClicked()">
                save
            </div>
            <div>
                <div (click)="onNextClicked()">{{ 'game.modify.next' | $t }}</div>
            </div>
        </div>
    </div>
</div>