<div class="px-2">
    <div class="page-title mb-6 ml-1">{{ (isEditMode() ? 'pageTitle.editGame' : 'pageTitle.createGame') | $t }}</div>
    <app-stepper [stepConfig$]="modifyGameSteps$">
        <app-stepper-item [stepId]="'general'" [displayName]="'game.modify.general' | $t">
            <div class="mt-4">
                <app-modify-base-game [input]="baseGameInformation$" (onUpdate)="onBaseGameInformationUpdate($event)" />
            </div>
        </app-stepper-item>
        <app-stepper-item [stepId]="'lineups'" [displayName]="'game.modify.lineups' | $t">
            <div>
                <app-lineup-selector [titleText]="'lineup.starting' | $t" [maximumPeople]="11" [hasCaptain]="true" [hasShirt]="true" />
            </div>

            <div class="mt-8">
                <app-lineup-selector [titleText]="'lineup.substitutes' | $t" [hasCaptain]="false" [hasShirt]="true" />
            </div>

            <div class="mt-8">
                <app-lineup-selector [titleText]="'lineup.managers' | $t" [hasCaptain]="false" [hasShirt]="false" />
            </div>

            <div class="mt-8">
                <app-lineup-selector [titleText]="'lineup.referees' | $t" [hasCaptain]="false" [hasShirt]="false" />
            </div>
        </app-stepper-item>
        <app-stepper-item [stepId]="'events'" [displayName]="'game.modify.events' | $t">
            <app-game-event-editor />
        </app-stepper-item>
    </app-stepper>
    <div class="px-2 my-8 flex justify-content-end">
        <div class="mr-5">
            save
        </div>
        <div>
            <div (click)="onNextClicked()">{{ 'game.modify.next' | $t }}</div>
        </div>
    </div>
</div>