@let venueValue = venue();
@let flavorsToDisplayValue = flavorsToDisplay();
<div>
    <div class="float-right">
        <app-button [buttonType]="'secondary'" [icon]="{ 'type': 'standard', 'content': 'location' }" [text]="'location.showOnMap' | $t" [textClasses]="'text-sm normal'" (onClicked)="showOnMap()" />
    </div>
    <div *ngIf="!hideNameSection()">
        <div class="section-title">{{ 'venue.currentName' | $t }}</div>
        <div>{{ venueValue.name }}</div>
    </div>
    <div class="mt-5">
        <div class="section-title">{{ 'venue.city' | $t }}</div>
        <div>
            <span>{{ venueValue.city }}</span>
            <span *ngIf="showCityCountryFlag()" class="ml-2">
                @for (flag of countryFlags(); track flag.flag) {
                    <span class="mr-1 last:mr-0">{{ flag.flag }}</span>
                }
            </span>
        </div>
    </div>
    <div class="mt-5">
        <div class="section-title">{{ 'venue.capacity' | $t }}</div>
        <div>{{ venueValue.capacity | formatNumber }}</div>
    </div>
    <div class="mt-5" *ngIf="venueValue.homeVenueFor && venueValue.homeVenueFor.length > 0">
        <div class="section-title">{{ 'venue.homeVenueFor' | $t }}</div>
        <div>
            @for (club of venueValue.homeVenueFor; track club.id) {
                <div class="mb-2 last:mb-0" [ngClass]="{ 'pointer': canInteractWithHomeVenueClubs() }" (click)="canInteractWithHomeVenueClubs() && onClubClick.emit(club)">
                    <app-small-club [club]="club" />
                </div>
            }
        </div>
    </div>
    <div class="mt-5" *ngIf="flavorsToDisplayValue.length > 0">
        <div class="section-title">{{ 'venue.alsoOrPreviouslyKnownAs' | $t }}</div>
        <div>
            @for (flavor of flavorsToDisplayValue; track flavor.id) {
                <div class="mb-2 last:mb-0">{{ flavor.name }}</div>
            }
        </div>
    </div>
</div>