.button {
    display: inline-block;
    outline: none;
    background-color: transparent;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: var(--light);
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    transition: background-color .15s linear; 
}

.button.disabled {
    color: var(--light-grey-darker);
}

@media (hover: hover) {
    .button:not(.disabled):hover {
        cursor: pointer;
        background-color: var(--dark-grey-lighter);
    }
}