<div class="game-overview-container p-2 rounded-lg mt-3 pointer" [ngClass]="getDynamicContainerClasses()">
    <div class="flex justify-content-between text-xs text-light-grey mb-4">
        <div>{{ game.kickoff | date:'EEE, MMM d - HH:mm' }}</div>
        <div>{{ getCompetitionName() }}</div>
    </div>
    <div class="flex align-items-center justify-content-center">
        <div class="basis-3/7 flex justify-content-end">
            <app-small-club [club]="getHomeTeam()" [iconPosition]="'right'" />
        </div>
        <div class="basis-1/8 mx-2">
            <div class="game-result-tendency px-2 py-1 rounded-md center bold" [ngClass]="getResultTendencyClass()">{{ getGameScoreBeforePso() }}</div>
            <div class="text-xs mt-2 center" *ngIf="hasExtendedPlay()">{{ getExtendedPlayText() }}</div>
        </div>
        <div class="basis-3/7">
            <app-small-club [club]="getAwayTeam()" />
        </div>
    </div>
</div>