<header>
    <div class="flex align-items-center mx-3 pt-3 mb-4">
        <div class="basis-1/10 mr-3">
            <div class="bg-color-dark-grey-darker px-3 py-2 rounded-lg pointer min-h-46" (click)="toggleMenu()">
                <div class="width-sm relative top-2">
                    <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'menu' }" />
                </div>
            </div>
        </div>
        <div class="flex-grow ml-6">
            <div class="relative">
                <div class="width-sm absolute left-8 top-11" (click)="onSearchIconClicked()">
                    <app-search [color]="colorLight" />
                </div>
                <input #search type="text" class="menu-search bg-color-dark-grey-darker text-light text-lg pl-10 py-1 rounded-lg min-h-46" />
            </div>
        </div>
    </div>
    <div class="menu-drawer h-full bg-color-dark-grey px-2 py-3 z-10" [ngClass]="{ 'menu-drawer-open': isMenuOpen() }">
        drawer
    </div>
</header>