.menu-search {
    border-style: none;
    border-bottom: 2px solid transparent;
    transition: border .15s linear;
}

.menu-search:focus {
    border-bottom: 2px solid var(--light);
}

.menu-drawer {
    position: absolute;
    left: -280px;
    top: 0;
    width: 280px;
    transition: left .15s ease-out;
}

.menu-drawer-open {
    left: 0;
}