.menu-search {
    border-style: none;
    border: 1px solid transparent;
    width: 0;
    transition: border .15s linear, width .15s ease-out;
}

.menu-search:focus {
    border: 1px solid var(--light);
    width: 100%;
}

.menu-drawer {
    position: absolute;
    left: -280px;
    top: 0;
    width: 280px;
    transition: left .15s ease-out;
}

.menu-drawer-open {
    left: 0;
}