<header *ngIf="isLoggedIn()">
    <div class="flex align-items-center mx-3 pt-3 mb-4">
        <div class="basis-1/10">
            <div class="bg-color-dark-grey-darker px-3 py-2 rounded-lg pointer max-w-48 min-h-46" (click)="toggleMenu()">
                <div class="width-sm relative top-2">
                    <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'menu' }" />
                </div>
            </div>
        </div>
        <div class="flex-grow mx-4 pointer" (click)="onSearchIconClicked()">
            <div class="relative">
                <div class="width-sm absolute left-8 top-11">
                    <app-search [color]="colorLight" />
                </div>
                <div class="width-sm absolute left-search-close top-11 transition-fade" [ngClass]="{ 'hidden-fade': !isSearchCloseVisible() }" (click)="closeSearch()" appStopEventPropagation>
                    x
                </div>
                <input #search type="text" class="menu-search bg-color-dark-grey-darker text-light text-base pl-10 py-1 rounded-lg min-h-46" [ngClass]="{ 'menu-search-focus': isSearchFocused()  }" (input)="onSearchChange($event)" />
            </div>
        </div>
        <div class="basis-1/10">
            <div class="relative" appClickOutside (clickOutside)="hideAccountMenuIfOpen()">
                <div class="transition-fade" [ngClass]="{ 'hidden-fade': !isLoggedIn() }">
                    <div class="account-menu bg-color-dark-grey-darker px-3 py-2 rounded-lg pointer max-w-48 min-h-46" (click)="toggleAccountMenu()" [ngClass]="{ 'account-menu-open': isAccountMenuOpen() }">
                        <div class="width-sm flex align-items-center justify-content-center">
                            <div class="text-lg">{{ getLoginInitial() }}</div>
                        </div>
                    </div>
                </div>
                <div class="bg-color-dark-grey-darker absolute z-200 min-w-160 right-0 p-2 transition-fade context-menu-shadow rounded-md mt-2" [ngClass]="{ 'hidden-fade': !isAccountMenuOpen() }">
                    <div class="px-2 py-1 mb-3">
                        <div class="text-base">{{ getLoggedInName() }}</div>
                        <div class="text-sm text-light-grey">{{ getLoggedInEmail() }}</div>
                    </div>
                    <div>
                        <a class="inline-block w-full pointer hover:bg-color-dark-grey transition-bg-color px-2 py-1 rounded-sm" (click)="triggerNavigateToSettings()">{{ 'menu.settings' | $t }}</a>
                    </div>
                    <div class="section-divider my-2"></div>
                    <div>
                        <a class="inline-block w-full pointer hover:bg-color-dark-grey transition-bg-color px-2 py-1 rounded-sm" (click)="triggerLogout()">{{ 'menu.logout' | $t }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-drawer h-full bg-color-dark-grey px-2 py-3 z-10" [ngClass]="{ 'menu-drawer-open': isMenuOpen() }">
        <app-nav-menu (onNavigationSelected)="onNavigation()" />
    </div>
    <div class="menu-drawer-overlay transition-fade" [ngClass]="{ 'hidden-fade': !isMenuOpen() }" (click)="overlayClick()"></div>
    <div class="search-results z-2 bg-color-dark-grey w-full h-full p-3" [ngClass]="{ 'search-results-open': isSearchResultOpen() }">
        <div class="text-lg bold">{{ 'search.results' | $t }}</div>
        @let resultItems = searchResultItems$ | async;
        <div>
            <div class="mt-4">
                <app-chip-group [chipGroup$]="searchTypeFilterChips$" (onSelected)="onSearchTypeFilterChanged($event)" />
            </div>
            <div class="w-full pt-6">
                @for (resultItem of resultItems; track $index) {
                    <div class="flex align-items-center px-3 py-2 mb-3 last:mb-0 rounded-lg pointer hover:bg-color-dark-grey-darker transition-colors border-1 border-solid border-mid-grey hover:border-light-grey-darker" (click)="resultItemClicked(resultItem)">
                        <div class="basis-1/10 flex align-items-center mr-3" *ngIf="resultItem.icon">
                            <div class="width-2-25rem">
                                <app-ui-icon [descriptor]="getIconDescriptor(resultItem)" />
                            </div>
                        </div>
                        <div class="flex-grow">
                            <div>{{ resultItem.title }}</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</header>