<header>
    <div class="flex align-items-center mx-3 pt-3 mb-4">
        <div class="basis-1/10">
            <div class="bg-color-dark-grey-darker px-3 py-2 rounded-lg pointer max-w-48 min-h-46" (click)="toggleMenu()">
                <div class="width-sm relative top-2">
                    <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'menu' }" />
                </div>
            </div>
        </div>
        <div class="flex-grow mx-4">
            <div class="relative">
                <div class="width-sm absolute left-8 top-11 pointer" (click)="onSearchIconClicked()">
                    <app-search [color]="colorLight" />
                </div>
                <input #search type="text" class="menu-search bg-color-dark-grey-darker text-light text-base pl-10 py-1 rounded-lg min-h-46" [ngClass]="{ 'menu-search-focus': isSearchFocused()  }" (input)="onSearchChange($event)" />
            </div>
        </div>
        <div class="basis-1/10">
            <div class="bg-color-dark-grey-darker px-3 py-2 rounded-lg pointer max-w-48 min-h-46">
                <div class="width-sm flex align-items-center justify-content-center">
                    <div class="text-lg">M</div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-drawer h-full bg-color-dark-grey px-2 py-3 z-10" [ngClass]="{ 'menu-drawer-open': isMenuOpen() }">
        <app-nav-menu (onNavigationSelected)="onNavigation()" />
    </div>
    <div class="menu-drawer-overlay transition-fade" [ngClass]="{ 'hidden-fade': !isMenuOpen() }" (click)="overlayClick()"></div>
    <div class="search-results z-10 bg-color-dark-grey w-full h-full" [ngClass]="{ 'search-results-open': isSearchResultOpen() }">
        <div>
            <div class="right" (click)="closeSearch()">close</div>
            <div>search results</div>
            <div>search results</div>
            <div>search results</div>
            <div>search results</div>
            <div>search results</div>
        </div>
    </div>
</header>