<div class="page">
    <div class="page-title mb-6">{{ 'menu.settings' | $t }}</div>
    <app-tab-group (onTabSelected)="onTabSelected($event)" [activeTab]="activeTab$" [horizontalScroll]="false" [stretchWholeWidth]="false">
        <app-tab-item [tabId]="'general'" [tabTitle]="'settings.general' | $t" [tabIcon]="{ 'type': 'standard', 'content': 'profile' }" [tabIconClasses]="['width-1-25rem', 'relative', 'top-2']">
            <ng-container *ngIf="isLoading(); else loadedContent">
                loading...
            </ng-container>
            <ng-template #loadedContent>
                <div class="bg-color-dark-grey-darker py-3 rounded-lg">
                    <div class="px-3">
                        <div class="form-row">
                            <div class="form-row-title">{{ 'settings.firstName' | $t }}</div>
                            <div class="form-row-content">
                                <input type="text" name="firstName" class="input-text w-full bg-color-dark-grey-darker" autocomplete="off" [value]="pushFirstName$ | async" (input)="onFirstNameInputChange($event)" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row-title">{{ 'settings.lastName' | $t }}</div>
                            <div class="form-row-content">
                                <input type="text" name="lastName" class="input-text w-full bg-color-dark-grey-darker" autocomplete="off" [value]="pushLastName$ | async" (input)="onLastNameInputChange($event)" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row-title">{{ 'settings.email' | $t }}</div>
                            <div class="form-row-content">
                                <input type="email" name="email" class="input-text input-text-disabled w-full bg-color-dark-grey-darker" autocomplete="off" [value]="pushEmail$ | async" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-color-dark-grey-darker py-3 rounded-lg mt-3">
                    <div class="px-3">
                        <div class="form-row">
                            <div class="form-row-title">{{ 'settings.language' | $t }}</div>
                            <div class="form-row-content">
                                <app-select [optionsSource]="getLanguageOptions()" [showSearch]="false" [selectedOption]="pushLanguage$" (onSelected)="onLanguageSelected($event)" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row-title">{{ 'settings.dateFormat' | $t }}</div>
                            <div class="form-row-content">
                                <app-select [optionsSource]="getDateFormatOptions()" [showSearch]="false" [selectedOption]="pushDateFormat$" (onSelected)="onDateFormatSelected($event)" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row-title">{{ 'settings.scoreFormat' | $t }}</div>
                            <div class="form-row-content">
                                <app-select [optionsSource]="getScoreFormatOptions()" [showSearch]="false" [selectedOption]="pushScoreFormat$" (onSelected)="onScoreFormatSelected($event)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-end mt-6">
                    <app-button [buttonType]="'success'" [enabled]="canSave()" (onClicked)="onSave()" [text]="'action.save' | $t" [icon]="isSubmitting() ? { 'type': 'standard', 'content': 'loading' } : { 'type': 'standard', 'content': 'save' }" />
                </div>
            </ng-template>
        </app-tab-item>
    </app-tab-group>
</div>