<div>
    <ng-container *ngIf="statsBySeasonAndCompetition !== null; else loading">
        <app-stats-player-header [containerClasses]="'mb-4'" [headerText]="'performance.seasonStats' | $t" />
        @for (statsItem of statsBySeasonAndCompetition; track $index) {
            <div class="season-item">
                <app-collapsible [collapsed]="!statsItem.isCurrent">
                    <ng-container header>
                        <div class="flex align-items-center bold mb-3">
                            <div class="basis-1/2 flex-grow-1">{{ statsItem.season.name }}</div>
                            <div class="basis-1/10">
                                <div class="text-right pr-1">
                                    {{ statsItem.total.gamesPlayed }}
                                </div>
                            </div>
                            <div class="basis-1/10">
                                <div class="text-right pr-1">
                                    {{ statsItem.total.goalsScored }}
                                </div
                            ></div>
                            <div class="basis-1/10">
                                <div class="text-right pr-1">
                                    {{ statsItem.total.assists }}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container content>
                        <div class="ml-2">
                            <app-stats-player-competition [competitionStats]="statsItem.competitionStats" />
                        </div>
                    </ng-container>
                </app-collapsible>
            </div>
        }
    </ng-container>
    <ng-template #loading>
        loading...
    </ng-template>
</div>