.season-item {
    margin-bottom: 1.5rem;
}

.season-item:last-child {
    margin-bottom: 0;
}

.competition-item {
    margin-bottom: .625rem;
}

.competition-item:last-child {
    margin-bottom: 0;
}