@let statsBySeasonAndCompetitionValue = statsBySeasonAndCompetition();
<div>
    <ng-container *ngIf="statsBySeasonAndCompetitionValue !== null; else loading">
        <app-stats-player-header [containerClasses]="'mb-4'" [headerText]="'performance.seasonStats' | $t" />
        @for (statsItem of statsBySeasonAndCompetitionValue; track statsItem.season.id) {
            <app-player-season-stats [seasonStatsItem]="statsItem" [isLastItem]="$last" (onSeasonCompetitionClicked)="seasonCompetitionClicked($event.seasonId, $event.filterOptions)" (onSeasonTotalClicked)="seasonTotalClicked($event.seasonId, $event.filterItemType)" />
        }
    </ng-container>
    <ng-template #loading>
        loading...
    </ng-template>
</div>