@property --from {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.count-animation {
  transition: --from 1s;
  counter-reset: int var(--from);
  animation: counter var(--time, 1000) forwards ease-in-out;
}

.count-animation::after {
  content: counter(int);
}

@keyframes counter {
  to {
    --from: var(--to, 100);
  }
}