@import "theme.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

textarea:focus, input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.input-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding: .5rem;
  border: 1px solid var(--light);
  color: var(--light);
  background-color: var(--dark);
  font-size: 1rem;
  line-height: 1.5rem;
}

.context-menu-shadow {
    box-shadow: 0px 0px 4px 0px rgba(177, 177, 177, 0.75);
}

.section-divider {
    border-top: 2px solid var(--dark-grey-lighter-2);
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
}

.text-light {
  color: var(--light);
}

.page {
  padding: 1rem;
}

.page-title {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2rem;
}

.form-row {
  padding-top: .75rem;
  margin-bottom: .5rem;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-row-title {
  font-size: .875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: .35rem;
}

.result-tendency-w {
  background-color: var(--success);
}

.result-tendency-d {
  background-color: var(--dark-grey-lighter-2);
}

.result-tendency-l {
  background-color: var(--danger);
}

.game-event {
  display: flex;
}

.card-inline {
  display: inline-flex;
  justify-content: center;
  padding: 0 .6rem;
}

.card-inline > .card-yellow {
  position: relative;
  top: 2px;
}

.card-inline > .card-red {
  position: relative;
  top: 2px;
}

.card-yellow {
  background-color: #f5e51b;
  border-radius: .1rem;
  height: 18px;
  width: 10px;
}

.card-yellow-small {
  background-color: #f5e51b;
  border-radius: .09rem;
  height: 15px;
  width: 8px;
}

.card-red {
  background-color: #e74c3c;
  border-radius: .1rem;
  height: 18px;
  width: 10px;
}

.card-red-small {
  background-color: #e74c3c;
  border-radius: .1rem;
  height: 15px;
  width: 8px;
}

.text-red-card {
  color: #e74c3c;
}

.card-yellow-red-yellow {
    position: relative;
    top: 3px;
    left: 4%;
}

.card-yellow-red-red {
    position: relative;
    left: -3px;
}

.captain-inline {
  padding: 0 .5rem;
}

.captain {
  background-color: var(--dark-grey-lighter-2);
  padding: .1rem .2rem;
}

.captain-small {
  background-color: var(--dark-grey-lighter-2);
  padding: .12rem;
}

.arrow-inline {
  width: 1.25rem;
}

.arrow-inline-small {
  width: .9rem;
}

.loading-container-medium {
  width: 2rem;
  height: 2rem;
}

.scrollbar-color-modal {
    scrollbar-color: var(--dark-grey) var(--dark-grey-lighter-2);
}