@import "theme.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

.chevron {
  --s: 16%; /* control the shape (can be percentage) */

  width: .1rem;
  aspect-ratio: 5/3 ;
  clip-path: polygon(0 100%,0 calc(100% - var(--s)),50% 0,100% calc(100% - var(--s)),100% 100%,50% var(--s));
  background: var(--light);
}

.chevron-down {
  transform: rotate(180deg);
}