@media (hover: hover) {
    .pointer {
        cursor: pointer;
    }

    .transition-text {
        transition: color .15s linear;
    }

    .transition-bg-color {
        transition: background-color .15s linear;
    }

    .transition-colors {
        transition-property: color, background-color, border-color, border-bottom-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .hover\:bg-color-dark-grey:hover {
        background-color: var(--dark-grey);
    }

    .hover\:bg-color-dark-grey-darker:hover {
        background-color: var(--dark-grey-darker);
    }

    .hover\:bg-color-dark-grey-mid:hover {
        background-color: var(--dark-grey-mid);
    }

    .hover\:bg-color-dark-grey-lighter:hover {
        background-color: var(--dark-grey-lighter);
    }

    .hover\:bg-color-dark-grey-lighter-2:hover {
        background-color: var(--dark-grey-lighter-2);
    }

    .hover\:bg-color-light-grey-darker:hover {
        background-color: var(--light-grey-darker);
    }

    .hover\:bg-color-mid-grey:hover {
        background-color: var(--mid-grey);
    }

    .hover\:bg-color-info:hover {
        background-color: var(--info);
    }

    .hover\:text-light:hover {
        color: var(--light);
    }

    .hover\:text-light-darker-10:hover {
        color: var(--light-darker-10);
    }

    .hover\:text-light-grey:hover {
        color: var(--light-grey);
    }

    .hover\:text-light-grey-darker:hover {
        color: var(--light-grey-darker);
    }

    .hover\:text-dark-grey:hover {
        color: var(--dark-grey);
    }

    .hover\:text-dark-grey-lighter:hover {
        color: var(--dark-grey-lighter);
    }

    .hover\:text-danger:hover {
        color: var(--danger);
    }

    .hover\:text-danger-lighter-10:hover {
        color: var(--danger-lighter-10);
    }

    .hover\:text-danger-lighter-20:hover {
        color: var(--danger-lighter-20);
    }

    .hover\:text-danger-lighter-30:hover {
        color: var(--danger-lighter-30);
    }

    .hover\:text-danger-lighter-40:hover {
        color: var(--danger-lighter-40);
    }

    .hover\:border-light-grey-darker:hover {
        border-color: var(--light-grey-darker);
    }
}