:root {
    --dark: #1f1f1f;

    --light: #f4f4f4;
    --light-darker-10: #dcdcdc;

    --dark-grey: #383939;
    --dark-grey-mid: #343434;
    --dark-grey-darker: #2d2d2d;
    --dark-grey-lighter: #414141;
    --dark-grey-lighter-2: #494949;

    --light-grey: #c7c7c7;
    --light-grey-darker: #b6b6b6;

    --success: #26a65b;

    --danger: #cf000f;
    --danger-lighter-20: #ff0d1e;
    --danger-lighter-30: #ff2b3a;
    --danger-lighter-40: #ff4956;

    --gold: #f3e16b;
}