<div appClickOutside (clickOutside)="close()">
    <div class="flex justify-content-center mr-1 pointer hover:text-light transition-colors" [ngClass]="{ 'text-light': isOpen(), 'text-light-grey-darker': !isOpen() }" (click)="toggle()">
        <div class="width-1-25rem">
            <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'menu-vertical' }" />
        </div>
    </div>
    <div class="relative">
        <div class="bg-color-dark-grey-darker absolute z-200 min-w-180 right-0 py-2 transition-fade context-menu-shadow rounded-md mt-2" [ngClass]="{ 'hidden-fade': !isOpen() }">
            @for (section of sections(); track $index) {
                <div class="mb-2 last:mb-0">
                    <div *ngIf="$index > 0" class="section-divider mb-2"></div>
                    @for (item of section.items; track item.id) {
                        <div class="flex align-items-center transition-colors hover:bg-color-dark-grey px-2 py-1 pointer mb-1 last:mb-0" (click)="itemSelected(item.id)" [ngClass]="{ 'text-danger': item.isDanger }">
                            <div class="basis-1/6 mr-1" *ngIf="item.iconDescriptor">
                                <div class="width-xs relative top-2 left-2">
                                    <app-ui-icon [descriptor]="item.iconDescriptor" />
                                </div>
                            </div>
                            <div class="flex-grow flex align-items-center">
                                <span>{{ item.text }}</span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>