<ng-container *ngIf="isLoading; else loadedContent">
    <div>
        <div class="game-section py-3 rounded-lg mt-3 mx-3">
            <div class="flex align-items-center justify-content-between">
                <div class="basis-3/7 px-4 py-2">
                    <div class="skeleton-box-small" style="height: 8rem; width: 100%;"></div>

                    <div class="mt-4">
                        <div class="skeleton-box-small" style="height: .75rem; width: 100%;"></div>
                        <div class="skeleton-box-small mt-1" style="height: .75rem; width: 100%;"></div>
                        <div class="skeleton-box-small mt-1" style="height: .75rem; width: 100%;"></div>
                    </div>
                </div>
                <div class="basis-1/8 p-1">
                    <div class="skeleton-box-small" style="width: 100%;"></div>
                </div>
                <div class="basis-3/7 px-4 py-2">
                    <div class="skeleton-box-small" style="height: 8rem; width: 100%;"></div>

                    <div class="mt-4">
                        <div class="skeleton-box-small" style="height: .75rem; width: 100%;"></div>
                        <div class="skeleton-box-small mt-1" style="height: .75rem; width: 100%;"></div>
                        <div class="skeleton-box-small mt-1" style="height: .75rem; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="game-section py-3 rounded-lg mt-3 mx-3">
            <div class="px-4 py-2">
                <div class="skeleton-box-small"></div>
                <div class="skeleton-box-small mt-1"></div>
                <div class="skeleton-box-small mt-1"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadedContent>
    @let homeTeam = getHomeTeam();
    @let awayTeam = getAwayTeam();
    @let legInformation = getLegInformation();
    @let aggregateScore = getAggregateScore();
    @let detailsVisible = showGameDetails();
    @let victoryGameText = getVictoryGameText();
    
    <div class="game-section py-3 rounded-lg mt-3 mx-3">
        <div class="center text-sm">
            <div class="mb-2">{{ game!.kickoff | date:'EEE, MMM d YYYY - HH:mm' }}</div>
            <div class="mb-3">{{ getCompetitionName() }}</div>
            <div class="mt-2 mb-3" *ngIf="legInformation !== null">{{ legInformation }}<span class="ml-2 px-2 py-1 rounded-md center bold" *ngIf="aggregateScore" [ngClass]="getAggregateResultTendencyClass()">{{ aggregateScore }}</span></div>
        </div>
        <div class="flex justify-content-center py-1">
            <div class="basis-3/7">
                <div>
                    <app-large-club [club]="homeTeam" (click)="onClubSelected(homeTeam.id)"/>
                </div>
                <div class="scoring-board mt-3 text-light-grey-darker text-sm text-right pr-1">
                    <ng-container *ngFor="let scoringBoardItem of getHomeScoringBoard()">
                        <div class="score-board-item hover:text-light-grey pointer" (click)="onPersonSelected(scoringBoardItem.player.personId)">{{ scoringBoardItem.player.lastName }} {{ scoringBoardItem.goalText }}</div>
                    </ng-container>
                </div>
            </div>
            <div class="basis-1/8 pt-1">
                <div class="text-sm mb-5">
                    <div class="mt-4" *ngIf="showGameStatus()">{{ getGameStatus() }}</div>
                </div>
                <ng-container *ngIf="detailsVisible; else upcoming">
                    <div class="game-result-tendency px-2 py-1 mx-2 rounded-md center bold text-lg" [ngClass]="getGameResultTendencyClass()">{{ getGameScoreBeforePso() }}</div>
                </ng-container>
                <ng-template #upcoming>
                    <div class="pt-3 text-sm center">{{ getUpcomingText() }}</div>
                </ng-template>
                <div class="text-sm mt-3 center" *ngIf="hasExtendedPlay()">{{ getExtendedPlayText() }}</div>
            </div>
            <div class="basis-3/7">
                <div>
                    <app-large-club [club]="awayTeam" (click)="onClubSelected(awayTeam.id)" />
                </div>
                <div class="scoring-board mt-3 text-light-grey-darker text-sm pl-1">
                    <ng-container *ngFor="let scoringBoardItem of getAwayScoringBoard()">
                        <div class="score-board-item hover:text-light-grey pointer" (click)="onPersonSelected(scoringBoardItem.player.personId)">{{ scoringBoardItem.player.lastName }} {{ scoringBoardItem.goalText }}</div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="game-section p-2 rounded-lg mt-3 mx-3" *ngIf="victoryGameText" [ngClass]="getDynamicContainerClasses()">
        <div class="flex align-items-center justify-content-center py-1">
            <div class="basis-1/5 mr-3">
                <div class="px-2 py-1 relative top-2">
                    <app-icon-trophy [color]="colorGold" />
                </div>
            </div>
            <div class="text-sm">{{ victoryGameText }}</div>
        </div>
    </div>

    <div class="game-section p-2 rounded-lg mt-3 mx-3" *ngIf="mainWonOnAwayGoals !== null">
        <div class="flex align-items-center justify-content-center p-2">
            <div class="text-sm">{{ getAwayGoalsText() }}</div>
        </div>
    </div>

    <div class="game-section p-2 rounded-lg mt-3 mx-3" *ngIf="detailsVisible" #scrolling>
        <app-tab-group (onTabSelected)="onTabSelected($event)" [activeTab]="activeTab$" [horizontalScroll]="true">
            <app-tab-item [tabId]="'events'" [tabTitle]="'game.events' | $t" [tabIcon]="{ 'type': 'standard', 'content': 'football' }" [tabIconClasses]="['width-1-25rem', 'relative', 'top-2']">
                <app-game-events [events]="uiGame!.events" />
            </app-tab-item>
            <app-tab-item [tabId]="'lineupMain'" [tabTitle]="mainClub.shortName" [tabIcon]="{ 'type': 'club', 'content': mainClub.iconSmall! }">
                <app-game-lineup [lineup]="getMainLineup()" />
            </app-tab-item>
            <app-tab-item [tabId]="'lineupOpponent'" [tabTitle]="game!.opponent.shortName" [tabIcon]="{ 'type': 'club', 'content': game!.opponent.iconSmall! }">
                <app-game-lineup [lineup]="getOpponentLineup()" />
            </app-tab-item>
            <app-tab-item [tabId]="'matchday'" [tabTitle]="'game.matchday' | $t" [tabIcon]="{ 'type': 'standard', 'content': 'table' }">
                <app-round-information [loading]="matchdayDetailsLoading" [matchdayDetails]="matchdayDetails ?? undefined" [hideTable]="!isMatchdayTableVisible" />
            </app-tab-item>
        </app-tab-group>
    </div>

    <div class="game-section p-2 rounded-lg m-3 transition-fade" [ngClass]="{ 'hidden-fade': shouldHideGeneralDetails }">
        <div class="pt-2">
            <div class="uppercase text-sm pl-2 flex align-items-center mb-1">
                <div class="mr-2">
                    <div class="width-xs relative top-2">
                        <app-icon-stadium [color]="colorLightGrey" />
                    </div>
                </div>
                <div class="text-light-grey">{{ 'game.venue' | $t }}</div>
            </div>
            <div>
                <div class="text-base pl-2 pointer transition-text hover:text-light-darker-10">{{ game?.venue?.branding }}, {{ game?.venue?.city }}</div>
            </div>
        </div>
        <div class="mt-5" *ngIf="this.game!.attendance">
            <div class="uppercase text-sm pl-2 flex align-items-center mb-1">
                <div class="mr-2">
                    <div class="width-xs relative top-2">
                        <app-icon-attendance [color]="colorLightGrey" />
                    </div>
                </div>
                <div class="text-light-grey">{{ 'game.attendance' | $t }}</div>
            </div>
            <div>
                <div class="text-base pl-2">{{ this.game!.attendance | formatNumber }}<span *ngIf="game?.isSoldOut"> ({{ 'game.soldOut' | $t }})</span></div>
            </div>
        </div>
        <div class="mt-5" *ngIf="getRefereeName() !== null">
            <div class="uppercase text-sm pl-2 flex align-items-center mb-1">
                <div class="mr-2">
                    <div class="width-xs relative top-2">
                        <app-icon-referee [color]="colorLightGrey" />
                    </div>
                </div>
                <div class="text-light-grey">{{ 'game.referee' | $t }}</div>
            </div>
            <div>
                <div class="text-base pl-2 pointer transition-text hover:text-light-darker-10">{{ getRefereeName() }}</div>
            </div>
        </div>
    </div>

    <div class="game-section p-2 rounded-lg mt-3 mx-3" *ngIf="shouldShowLastGames()">
        <div class="pt-2">
            <div class="uppercase text-sm pl-2 flex align-items-center mb-2">
                <div class="mr-2">
                    <div class="width-xs relative top-2">
                        <app-icon-stadium [color]="colorLightGrey" />
                    </div>
                </div>
                <div class="text-light-grey">{{ 'game.headToHead' | $t }}</div>
            </div>
            <app-game-performance-trend [games$]="performanceTrendAgainstClub$" [showGameDate]="true" [noGamesText]="'performanceTrend.noClubGames' | $t" />
        </div>
        <div class="pt-2 mt-3">
            <div class="uppercase text-sm pl-2 flex align-items-center mb-1">
                <div class="mr-2">
                    <div class="width-xs relative top-2">
                        <app-icon-stadium [color]="colorLightGrey" />
                    </div>
                </div>
                <div class="text-light-grey">{{ 'game.headToHead' | $t }}</div>
            </div>
            <div class="mt-5 ml-2">
                <app-chip-group [chips]="competitionChips" />
            </div>
            @for (game of lastGamesAgainstClub$ | async; track $index) {
                <app-game-overview [game]="game" [mainClub]="mainClub" [showYear]="true" (click)="triggerNavigateToGame(game)" />
            }
        </div>
    </div>
</ng-template>