@switch (descriptor.type) {
  @case ('standard') {
    @switch (descriptor.content) {
        @case ('birthday-cake') {
            <app-birthday-cake [color]="descriptor.color" />
        }
        @case ('football') {
            <app-football [color]="descriptor.color" />
        }
        @case ('playing-football') {
            <app-playing-football [color]="descriptor.color" />
        }
    }
  }
  @case ('club') {
    <app-club-icon [iconUrl]="descriptor.content" />
  }
  @case ('competition') {
    <app-club-icon [iconUrl]="descriptor.content" />
  }
  @case ('player') {
    <app-player-icon [iconUrl]="descriptor.content" />
  }
  @default {
    <div class="text-danger">not implemented</div>
  }
}