@switch (descriptor.type) {
  @case ('standard') {
    @switch (descriptor.content) {
        @case ('birthday-cake') {
            <app-birthday-cake [color]="descriptor.color" />
        }
        @case ('football') {
            <app-football [color]="descriptor.color" />
        }
        @case ('football-pitch') {
            <app-football-pitch [color]="descriptor.color" />
        }
        @case ('football-shoe') {
            <app-football-shoe [color]="descriptor.color" />
        }
        @case ('goal') {
            <app-football-goal [color]="descriptor.color" />
        }
        @case ('playing-football') {
            <app-playing-football [color]="descriptor.color" />
        }
        @case ('sofascore') {
            <app-sofascore [color]="descriptor.color" />
        }
        @case ('table') {
            <app-competition-table [color]="descriptor.color" />
        }
        @case ('yellow-card') {
            <div class="card-yellow"></div>
        }
        @case ('yellow-red-card') {
            <div class="inline-flex">
              <div class="card-yellow-red-yellow card-yellow"></div>
              <div class="card-yellow-red-red card-red"></div>
            </div>
        }
        @case ('red-card') {
            <div class="card-red"></div>
        }
    }
  }
  @case ('club') {
    <app-club-icon [iconUrl]="descriptor.content" />
  }
  @case ('competition') {
    <app-club-icon [iconUrl]="descriptor.content" />
  }
  @case ('player') {
    <app-player-icon [iconUrl]="descriptor.content" />
  }
  @default {
    <div class="text-danger">not implemented</div>
  }
}