@let descriptorValue = descriptor();
@let iconClassNameValue = iconClassName();
@switch (descriptorValue.type) {
  @case ('standard') {
    @switch (descriptorValue.content) {
        @case ('arrow-left') {
            <app-arrow-left [color]="descriptorValue.color" />
        }
        @case ('arrow-right') {
            <app-arrow-right [color]="descriptorValue.color" />
        }
        @case ('birthday-cake') {
            <app-birthday-cake [color]="descriptorValue.color" />
        }
        @case ('calendar') {
            <app-calendar-icon [color]="descriptorValue.color" />
        }
        @case ('captain') {
            <div class="captain text-sm bold rounded-md">C</div>
        }
        @case ('chevron-left') {
            <app-chevron-left [color]="descriptorValue.color" />
        }
        @case ('coffin') {
            <app-coffin [color]="descriptorValue.color" />
        }
        @case ('delete') {
            <app-delete-icon [color]="descriptorValue.color" />
        }
        @case ('drag') {
            <app-drag-handle-icon [color]="descriptorValue.color" />
        }
        @case ('filter') {
            <app-filter-icon [color]="descriptorValue.color" />
        }
        @case ('football') {
            <app-football [color]="descriptorValue.color" />
        }
        @case ('football-pitch') {
            <app-football-pitch [color]="descriptorValue.color" />
        }
        @case ('football-shoe') {
            <app-football-shoe [color]="descriptorValue.color" />
        }
        @case ('glove') {
            <app-goalkeeper-glove [color]="descriptorValue.color" />
        }
        @case ('goal') {
            <app-football-goal [color]="descriptorValue.color" />
        }
        @case ('goalkeeper-goal') {
            <app-goalkeeper-goal [color]="descriptorValue.color" />
        }
        @case ('google') {
            <app-google-icon />
        }
        @case ('import') {
            <app-import-icon [color]="descriptorValue.color" />
        }
        @case ('loading') {
            <div class="loading-container-small">
                <app-loading />
            </div>
        }
        @case ('menu') {
            <app-menu-icon [color]="descriptorValue.color" />
        }
        @case ('menu-vertical') {
            <app-menu-icon-vertical [color]="descriptorValue.color" />
        }
        @case ('pen') {
            <app-edit-icon [color]="descriptorValue.color" />
        }
        @case ('playing-football') {
            <app-playing-football [color]="descriptorValue.color" />
        }
        @case ('profile') {
            <app-profile-icon [color]="descriptorValue.color" />
        }
        @case ('save') {
            <app-save-icon [color]="descriptorValue.color" />
        }
        @case ('sofascore') {
            <app-sofascore [color]="descriptorValue.color" />
        }
        @case ('stadium') {
            <app-icon-stadium [color]="descriptorValue.color" />
        }
        @case ('table') {
            <app-competition-table [color]="descriptorValue.color" />
        }
        @case ('yellow-card') {
            <div class="card-yellow"></div>
        }
        @case ('yellow-red-card') {
            <div class="inline-flex">
              <div class="card-yellow-red-yellow card-yellow"></div>
              <div class="card-yellow-red-red card-red"></div>
            </div>
        }
        @case ('red-card') {
            <div class="card-red"></div>
        }
    }
  }
  @case ('club') {
    <app-club-icon [iconUrl]="descriptorValue.content" [iconClassName]="iconClassNameValue" />
  }
  @case ('competition') {
    <app-club-icon [iconUrl]="descriptorValue.content" />
  }
  @case ('person') {
    <app-player-icon [iconUrl]="descriptorValue.content" [iconBgColorClass]="'bg-color-transparent'" />
  }
  @default {
    <div class="text-danger">not implemented</div>
  }
}