<section class="px-3">
    <ng-container *ngIf="selectedSeason === null; else loadedContent">
        <div>
            <div class="skeleton-box-medium" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
        </div>
    </ng-container>
    <ng-template #loadedContent>
        <ng-container *ngIf="seasons$ !== null && this.selectedSeason?.id !== null">
            <div class="sticky top-0 z-1 bg-color-dark py-1">
                <div class="flex justify-content-center">
                    <app-season-select [seasons]="seasons$" [selectedSeason$]="selectedSeason$" (onSelected)="onSeasonSelected($event)" />
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="hasSeasonGames; else emptySeasonGames">
            <div #scrolling>
                <div *ngIf="hasPastGames">
                    <ng-container *ngFor="let game of pastSeasonGames">
                        <app-game-overview [game]="game" [mainClub]="mainClub" (click)="triggerNavigateToGame(game)" />
                    </ng-container>
                </div>
                <div *ngIf="hasUpcomingGames" #upcomingGamesContainer>
                    <div class="text-sm text-light-grey mt-6">{{ 'games.upcoming' | $t }}</div>
                    <ng-container *ngFor="let game of upcomingSeasonGames">
                        <app-game-overview [game]="game" [mainClub]="mainClub" (click)="triggerNavigateToGame(game)" />
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #emptySeasonGames>
            <div class="empty-state">
                <app-empty-state>
                    <div class="w-1/4" icon><app-field-with-ball [color]="colorDarkGreyLighter" /></div>
                    <div text>{{ 'seasonGames.empty' | $t }}</div>
                </app-empty-state>
            </div>
        </ng-template>
    </ng-template>
</section>