<section class="page">
    <ng-container *ngIf="selectedSeason === null; else loadedContent">
        <app-loading />
    </ng-container>
    <ng-template #loadedContent>
        <div class="flex justify-content-center">
            <ng-container *ngIf="seasons$ !== null && this.selectedSeason?.id !== null">
                <app-season-select [seasons]="seasons$" [selectedSeasonId]="this.selectedSeason?.id" (onSelected)="onSeasonSelected($event)" />
            </ng-container>
        </div>

        <ng-container *ngIf="selectedSeasonGames.length > 0; else emptySeasonGames">
            <div #scrolling>
                <ng-container *ngFor="let game of selectedSeasonGames">
                    <app-game-overview [game]="game" [mainClub]="mainClub" (click)="triggerNavigateToGame(game)" />
                </ng-container>
            </div>
        </ng-container>
        <ng-template #emptySeasonGames>
            <div class="empty-state">
                <app-empty-state>
                    <div class="w-1/4" icon><app-field-with-ball [color]="colorDarkGreyLighter" /></div>
                    <div text>{{ 'seasonGames.empty' | $t }}</div>
                </app-empty-state>
            </div>
        </ng-template>
    </ng-template>
</section>