@let isLoadingValue = isLoading();
@let selectedSeasonValue = selectedSeason();
@let visibleSeasonGamesValue = visibleSeasonGames();
@let hasSeasonGames = visibleSeasonGamesValue.past.length > 0 || visibleSeasonGamesValue.upcoming.length > 0;
<section class="px-3">
    <div class="page-title mb-2 ml-1">{{ 'menu.games' | $t }}</div>
    <ng-container *ngIf="selectedSeasonValue === null; else loadedContent">
        <div>
            <div class="skeleton-box-medium" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
            <div class="skeleton-box-medium mt-3" style="height: 4rem; width: 100%;"></div>
        </div>
    </ng-container>
    <ng-template #loadedContent>
        <ng-container *ngIf="seasons$ !== null && selectedSeasonValue?.id !== null">
            <div class="sticky top-0 z-1 bg-color-dark py-1">
                <div class="flex align-items-center justify-content-between">
                    <div class="basis-1/8"></div>
                    <div><app-season-select [seasons]="seasons$" [selectedSeason$]="selectedSeason$" (onSelected)="onSeasonSelected($event)" /></div>
                    <div class="basis-1/8 flex align-items-center justify-content-center pointer" [ngClass]="{ 'text-light': !isLoadingValue && visibleSeasonGamesValue.filteredCount !== undefined }" (click)="showFilterGameListModal()">f</div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isLoadingValue !== true && visibleSeasonGamesValue.filteredCount !== undefined">
            <div class="bg-color-sky-700 mt-4 p-2 text-light-grey rounded-md flex text-sm justify-content-between align-items-center">
                <div>
                    {{ 'currently showing ' + visibleSeasonGamesValue.filteredCount + ' of ' + visibleSeasonGamesValue.totalCount + ' games' }}
                </div>
                <div>
                    <span class="pointer hover:text-light transition-colors" (click)="resetFilters()">reset filters</span>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="hasSeasonGames; else emptySeasonGames">
            <div #scrolling class="mb-8">
                <div *ngIf="visibleSeasonGamesValue.past.length > 0">
                    @for (pastSeasonGame of visibleSeasonGamesValue.past; track pastSeasonGame.id) {
                        <app-game-overview [game]="pastSeasonGame" [mainClub]="mainClub" (click)="triggerNavigateToGame(pastSeasonGame)" />
                    }
                </div>
                <div *ngIf="visibleSeasonGamesValue.upcoming.length > 0" #upcomingGamesContainer>
                    <div class="text-sm text-light-grey mt-6">{{ 'games.upcoming' | $t }}</div>
                    @for (upcomingGame of visibleSeasonGamesValue.upcoming; track upcomingGame.id) {
                        <app-game-overview [game]="upcomingGame" [mainClub]="mainClub" (click)="triggerNavigateToGame(upcomingGame)" />
                    }
                </div>
            </div>
        </ng-container>
        <ng-template #emptySeasonGames>
            <div class="empty-state" *ngIf="visibleSeasonGamesValue.filteredCount !== 0">
                <app-empty-state>
                    <div class="w-1/4" icon><app-field-with-ball [color]="colorDarkGreyLighter" /></div>
                    <div class="center mt-4" text>{{ 'seasonGames.empty' | $t }}</div>
                </app-empty-state>
            </div>
        </ng-template>
    </ng-template>
</section>