@let isLoadingValue = isLoading();
@let selectedShirtValue = selectedShirt();
<div class="p-4">
    <div>
        <app-shirt-selector [selectedShirt]="selectedShirt()" (onShirtSelected)="onShirtSelect($event)" />
    </div>
    <div class="mt-8" *ngIf="selectedShirtValue">
        <div class="bold">{{ historyText() }}</div>
    </div>
    <div>
        <ng-container *ngIf="isLoadingValue; else loaded">
            <div class="mt-3">
                <div class="skeleton-box-medium" style="width: 100%;"></div>
                <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
            </div>
        </ng-container>
        <ng-template #loaded>

        </ng-template>
    </div>
</div>