@let optionValue = option();
@let selectedValue = selected();
<div class="select-option px-3 py-2 flex align-items-center" (click)="toggleOption()" [ngClass]="{ 'selected': selectedValue }">
    <ng-container *ngIf="optionValue.icon">
        <div class="basis-1/12 mr-1">
            <div class="width-1-25rem flex align-items-center">
                <app-ui-icon [descriptor]="optionValue.icon" />
            </div>
        </div>
    </ng-container>
    <div class="flex-grow-1" [ngClass]="{ 'center': shouldCenterOptions() }">{{ optionValue.name }}</div>
    <div *ngIf="selectedValue" class="basis-1/20 icon">
        <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'check' }" />
    </div>
</div>