<div class="px-3 py-2 bg-color-dark-grey-darker rounded">
    <div class="flex align-items-center">
        <div class="flex flex-1 align-items-center justify-content-center">
            <div class="cursor-move width-sm relative top-2 left-neg-10 text-light-grey-darker hover:text-light-grey transition-colors">
                <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'drag' }" />
            </div>
        </div>
        <div class="flex flex-7" [ngClass]="{ 'align-items-center': currentGameEventType() }">
            <div class="basis-1/5 mr-4">
                <div class="form-row" [ngClass]="{ 'invisible': !isGameMinuteVisible() }">
                    <div class="form-row-title">{{ 'gameEvent.minute' | $t }}</div>
                    <div class="form-row-content">
                        <input type="text" name="gameMinute" class="input-text w-full bg-color-transparent line-height-1" autocomplete="off" [value]="pushGameMinute$ | async" (input)="onGameMinuteChange($event)" />
                    </div>
                </div>
            </div>
            <div class="basis-4/5">
                <div class="form-row">
                    <div class="form-row-title">{{ 'gameEvent.type' | $t }}</div>
                    <div class="form-row-content">
                        <app-select [optionsSource]="getGameEventTypeOptions()" [showSearch]="false" [selectedOption]="pushGameEventType$" (onSelected)="onGameEventTypeSelected($event)" />
                    </div>
                </div>
                <div class="flex align-items-center justify-content-start mt-2">
                    @switch (currentGameEventType()) {
                        @case ('goal') {
                            <div class="w-full mt-1">
                                <div>
                                    <div class="form-row-title">{{ 'gameEvent.scoredBy' | $t }}</div>
                                    <app-select [optionsSource]="getGamePlayerOptions()" [showSearch]="true" [selectedOption]="pushGoalScoredBy$" (onSelected)="onGoalScoredBySelected($event)" />
                                </div>
                                <div class="mt-2">
                                    <div class="form-row-title">{{ 'gameEvent.goalType' | $t }}</div>
                                    <app-select [optionsSource]="getGoalTypeOptions()" [showSearch]="false" [selectedOption]="pushGoalType$" (onSelected)="onGoalTypeSelected($event)" />
                                </div>
                                <div class="mt-2">
                                    <div class="form-row-title">{{ 'gameEvent.assistBy' | $t }}</div>
                                    <app-select [optionsSource]="getGamePlayerOptions()" [showSearch]="true" [selectedOption]="pushGoalAssistBy$" (onSelected)="onGoalAssistBySelected($event)" />
                                </div>
                                <div class="mt-4">
                                    <div class="flex">
                                        <div class="flex-1">
                                            <input type="checkbox" id="is-penalty" [checked]="penalty()" />
                                            <label class="ml-1 user-select-none" for="is-penalty">{{ 'game.penalty' | $t }}</label>
                                        </div>
                                        <div class="flex-1">
                                            <input type="checkbox" id="is-own-goal" [checked]="ownGoal()" />
                                            <label class="ml-1 user-select-none" for="is-own-goal">{{ 'game.ownGoal' | $t }}</label>
                                        </div>
                                    </div>
                                    <div class="flex mt-2">
                                        <div class="flex-1">
                                            <input type="checkbox" id="is-direct-free-kick" [checked]="directFreeKick()" />
                                            <label class="ml-1 user-select-none" for="is-direct-free-kick">{{ 'game.directFreeKick' | $t }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @case ('substitution') {
                            <div class="w-full mt-1">
                                <div>
                                    <div class="form-row-title">{{ 'gameEvent.playerOn' | $t }}</div>
                                    <app-select [optionsSource]="getGamePlayerOptions()" [showSearch]="true" [selectedOption]="pushPlayerOn$" (onSelected)="onPlayerOnSelected($event)" />
                                </div>
                                <div class="mt-2">
                                    <div class="form-row-title">{{ 'gameEvent.playerOff' | $t }}</div>
                                    <app-select [optionsSource]="getGamePlayerOptions()" [showSearch]="true" [selectedOption]="pushPlayerOff$" (onSelected)="onPlayerOffSelected($event)" />
                                </div>
                                <div class="mt-4">
                                    <input type="checkbox" id="is-injured" [checked]="injured()" />
                                    <label class="ml-1 user-select-none" for="is-injured">{{ 'gameEvent.injured' | $t }}</label>
                                </div>
                            </div>
                        }
                        @case ('yellowCard') {
                            <div class="w-full mt-2">
                                <div>
                                    <div class="form-row-title">{{ 'gameEvent.reason' | $t }}</div>
                                    <app-select [optionsSource]="getBookableOffenceReasonOptions()" [showSearch]="false" [selectedOption]="pushYellowCardReason$" (onSelected)="onYellowCardReasonSelected($event)" />
                                </div>
                                <div class="mt-4">
                                    <input type="checkbox" id="is-not-on-pitch" [checked]="notOnPitch()" />
                                    <label class="ml-1 user-select-none" for="is-not-on-pitch">{{ 'gameEvent.notOnPitch' | $t }}</label>
                                </div>
                            </div>
                        }
                        @case ('yellowRedCard') {
                            <div class="w-full mt-2">
                                <div>
                                    <div class="form-row-title">{{ 'gameEvent.reason' | $t }}</div>
                                    <app-select [optionsSource]="getBookableOffenceReasonOptions()" [showSearch]="false" [selectedOption]="pushYellowRedCardReason$" (onSelected)="onYellowRedCardReasonSelected($event)" />
                                </div>
                                <div class="mt-4">
                                    <input type="checkbox" id="is-not-on-pitch" [checked]="notOnPitch()" />
                                    <label class="ml-1 user-select-none" for="is-not-on-pitch">{{ 'gameEvent.notOnPitch' | $t }}</label>
                                </div>
                            </div>
                        }
                        @case ('redCard') {
                            <div class="w-full mt-2">
                                <div>
                                    <div class="form-row-title">{{ 'gameEvent.reason' | $t }}</div>
                                    <app-select [optionsSource]="getExpulsionReasonOptions()" [showSearch]="false" [selectedOption]="pushRedCardReason$" (onSelected)="onRedCardReasonSelected($event)" />
                                </div>
                                <div class="mt-4">
                                    <input type="checkbox" id="is-not-on-pitch" [checked]="notOnPitch()" />
                                    <label class="ml-1 user-select-none" for="is-not-on-pitch">{{ 'gameEvent.notOnPitch' | $t }}</label>
                                </div>
                            </div>
                        }
                        @case ('penaltyMissed') {
                            <div class="w-full mt-2">
                                <div>
                                    <div class="form-row-title">{{ 'gameEvent.takenBy' | $t }}</div>
                                    <app-select [optionsSource]="getGamePlayerOptions()" [showSearch]="true" [selectedOption]="pushPenaltyTakenBy$" (onSelected)="onPenaltyTakenBySelected($event)" />
                                </div>
                                <div class="mt-4">
                                    <div class="form-row-title">{{ 'gameEvent.reason' | $t }}</div>
                                    <app-select [optionsSource]="getPenaltyMissedReasonOptions()" [showSearch]="false" [selectedOption]="pushPenaltyMissedReason$" (onSelected)="onPenaltyMissedReasonSelected($event)" />
                                </div>
                            </div>
                        }
                        @case ('pso') {
                            <div class="w-full mt-2">
                                <div>
                                    <div class="form-row-title">{{ 'gameEvent.takenBy' | $t }}</div>
                                    <app-select [optionsSource]="getGamePlayerOptions()" [showSearch]="true" [selectedOption]="pushPsoTakenBy$" (onSelected)="onPsoTakenBySelected($event)" />
                                </div>
                                <div class="mt-4">
                                    <div class="form-row-title">{{ 'gameEvent.outcome' | $t }}</div>
                                    <app-select [optionsSource]="getPsoOutcomeOptions()" [showSearch]="false" [selectedOption]="pushPsoOutcome$" (onSelected)="onPsoOutcomeSelected($event)" />
                                </div>
                            </div>
                        }
                        @case ('varDecision') {
                            <div class="w-full mt-2">
                                <div>
                                    <div class="form-row-title">{{ 'varDecision.decision' | $t }}</div>
                                    <app-select [optionsSource]="getVarDecisionOptions()" [showSearch]="false" [selectedOption]="pushVarDecision$" (onSelected)="onVarDecisionSelected($event)" />
                                </div>
                                <div class="mt-2">
                                    <div class="form-row-title">{{ 'varDecision.reason' | $t }}</div>
                                    <app-select [optionsSource]="getVarDecisionReasonOptions()" [showSearch]="false" [selectedOption]="pushVarDecisionReason$" (onSelected)="onVarDecisionReasonSelected($event)" />
                                </div>
                            </div>
                        }
                        @case ('injuryTime') {
                            <input type="text" name="injuryTime" class="input-text w-1/4 bg-color-transparent line-height-1 text-right" autocomplete="off" [value]="pushInjuryTime$ | async" (input)="onInjuryTimeChange($event)" />
                            <div class="ml-2">{{ 'duration.minutes' | $t }}</div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="flex flex-1 align-items-center justify-content-center">
            <div class="width-sm relative top-4 left-8 text-light-grey-darker hover:text-light-grey pointer transition-colors" (click)="removeClicked()">
                <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'delete' }" />
            </div>
        </div>
    </div>
</div>