@let activeSquadValue = activeSquad();
<div>
    <div cdkDropListGroup>
        @for (list of lists(); track list.id) {
            <div class="border-2 border-gold my-3" [ngClass]="{ 'pt-12': $index > 0 }">
                <div class="section-title">{{ list.titleI18nKey | $t }}</div>
                <div cdkDropList [id]="list.id" [cdkDropListData]="list.items" class="drop-zone" (cdkDropListDropped)="onItemDrop($event)">
                    @for (item of list.items; track item.id) {
                        <div class="my-3" cdkDrag>
                            <app-absence-list-editor-item [absence]="item" [availablePersons]="activeSquadValue" (onUpdate)="updateItem($event)" (onRemove)="removeItem($event)" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="flex align-items-center justify-content-center mt-8 text-sm pointer text-light-grey hover:text-light transition-colors" (click)="addItem()">
        <div>+ {{ 'gameAbsenceEditor.addNew' | $t }}</div>
    </div>
</div>
<ng-template #emptyCategory>
    <div class="flex align-items-center justify-content-start my-3">
        {{ 'absences.none' | $t }}
    </div>
</ng-template>