@let personValue = person();
@let textSizeValue = textSize();
<div class="flex align-items-center">
    <div class="basis-1/10 mr-3 flex align-items-center justify-content-center" *ngIf="personValue.avatar">
        <div [ngClass]="iconContainerWidth()">
            <app-ui-icon [descriptor]="{ 'type': 'person', 'content': personValue.avatar }" />
        </div>
    </div>
    <div class="flex align-items-center" [ngClass]="textSizeValue">
        <span *ngIf="personValue.firstName" class="mr-1">{{ personValue.firstName }}</span>
        <span [ngClass]="{ 'bold': lastNameBold() }">{{ personValue.lastName }}</span>
        <span *ngIf="showNationalities()" class="ml-2">
            @for (flag of countryFlags(); track flag.flag) {
                <span class="mr-1 last:mr-0">{{ flag.flag }}</span>
            }
        </span>
    </div>
</div>