@let normalizedRadius = getNormalizedRadius();
@let strokeDashArray = getStrokeDashArray();
@let strokeDashOffset = getStrokeDashOffset();
<div>
    <div class="flex relative">
        <span class="inline-flex w-full h-full absolute text-lg bold align-items-center justify-content-center">{{ percentage }}</span>
        <svg [attr.height]="radius * 2" [attr.width]="radius * 2">
            <circle class="circle"
                [attr.stroke]="color"
                [attr.stroke-dasharray]="strokeDashArray"
                [attr.stroke-dashoffset]="strokeDashOffset"
                [attr.stroke-width]="strokeWidth"
                [attr.cx]="radius"
                [attr.cy]="radius"
                [attr.r]="normalizedRadius"
                fill="transparent"
            ></circle>
        </svg>
    </div>
</div>