<section class="px-3 pb-8">
    @let memberContainerClass = 'bg-color-dark-grey-darker hover:bg-color-dark-grey-mid transition-bg-color p-2 rounded-lg mt-3 pointer flex align-items-center';
    <div>
        <div class="border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'squad.position.goalkeepers' | $t }}
        </div>
        <div class="dashboard-item-content">
            <ng-container *ngIf="isLoading(); else loadedGoalkeepers">
                <div class="py-2">
                    <div class="skeleton-box-medium" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                </div>
            </ng-container>
            <ng-template #loadedGoalkeepers>
                @for (goalkeeper of goalkeepers(); track goalkeeper.id) {
                    <app-squad-member [member]="goalkeeper" [containerClass]="memberContainerClass" (click)="onMemberClicked(goalkeeper.player.id)" />
                }
            </ng-template>
        </div>
    </div>
    <div class="mt-8">
        <div class="border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'squad.position.defenders' | $t }}
        </div>
        <div class="dashboard-item-content">
            <ng-container *ngIf="isLoading(); else loadedDefenders">
                <div class="py-2">
                    <div class="skeleton-box-medium" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                </div>
            </ng-container>
            <ng-template #loadedDefenders>
                @for (defender of defenders(); track defender.id) {
                    <app-squad-member [member]="defender" [containerClass]="memberContainerClass" (click)="onMemberClicked(defender.player.id)" />
                }
            </ng-template>
        </div>
    </div>
    <div class="mt-8">
        <div class="border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'squad.position.midfielders' | $t }}
        </div>
        <div class="dashboard-item-content">
            <ng-container *ngIf="isLoading(); else loadedMidfielders">
                <div class="py-2">
                    <div class="skeleton-box-medium" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                </div>
            </ng-container>
            <ng-template #loadedMidfielders>
                @for (midfielder of midfielders(); track midfielder.id) {
                    <app-squad-member [member]="midfielder" [containerClass]="memberContainerClass" (click)="onMemberClicked(midfielder.player.id)" />
                }
            </ng-template>
        </div>
    </div>
    <div class="mt-8">
        <div class="border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'squad.position.forwards' | $t }}
        </div>
        <div class="dashboard-item-content">
            <ng-container *ngIf="isLoading(); else loadedForwards">
                <div class="py-2">
                    <div class="skeleton-box-medium" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                    <div class="skeleton-box-medium mt-2" style="width: 100%;"></div>
                </div>
            </ng-container>
            <ng-template #loadedForwards>
                @for (forward of forwards(); track forward.id) {
                    <app-squad-member [member]="forward" [containerClass]="memberContainerClass" (click)="onMemberClicked(forward.player.id)" />
                }
            </ng-template>
        </div>
    </div>
</section>