<div class="game-event mb-1">
    <div class="game-event-minute text-sm bold mr-2 flex flex-col align-items-center justify-content-center basis-1/20">
        <div>{{ event.baseMinute }}</div>
        <div *ngIf="event.additionalMinute">{{ event.additionalMinute }}</div>
    </div>
    <div class="flex align-items-center justify-content-center">
        <div class="game-event-score px-2 py-1 rounded-md center bg-color-dark-grey-lighter mr-3">{{ event.score }}</div>
    </div>
    <div class="flex flex-col justify-content-center">
        <div class="game-event-scored-by text-sm bold">{{ event.scoredBy.firstName }} {{ event.scoredBy.lastName }}</div>
        <div *ngIf="event.assistBy" class="text-sm text-light-grey">
            Assist by {{ event.assistBy.firstName }} {{ event.assistBy.lastName }}
        </div>
        <div *ngIf="event.penalty" class="text-sm text-light-grey">
            Penalty
        </div>
        <div *ngIf="event.directFreeKick" class="text-sm text-light-grey">
            Direct free kick
        </div>
        <div *ngIf="event.bicycleKick" class="text-sm text-light-grey">
            Bicylce kick
        </div>
        <div *ngIf="event.ownGoal" class="text-sm text-light-grey">
            Own goal
        </div>
    </div>
</div>