<ng-container *ngIf="isLoading; else loadedContent">
    <div class="bg-color-dark-grey-darker py-3 rounded-lg mt-3 mx-3">
        <div class="flex align-items-center">
            <div class="basis-1/6 mr-1 flex align-items-center justify-content-center p-2">
                <div class="skeleton-circle-medium"></div>
            </div>
            <div class="flex-grow-1 flex align-items-center justify-content-start py-2">
                <div class="skeleton-box-medium"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadedContent>
    @let nationalities = getNationalities();
    @let birthday = getBirthday();
    @let avatar = getIconUrl();
    <div class="pb-8">
        <div class="bg-color-dark-grey-darker py-3 rounded-lg mt-3 mx-3">
            <div class="flex align-items-center">
                <div class="basis-1/4 flex align-items-center justify-content-center" *ngIf="avatar">
                    <app-player-icon [iconUrl]="avatar" [containerClass]="'max-w-4'" [iconBgColorClass]="'bg-color-transparent'" />
                </div>
                <div [ngClass]="{ 'pl-4': !avatar }">
                    <div>
                        <span class="mr-2 text-xl">
                            <span>{{ getFirstName() }}</span>
                            <span class="bold"> {{ getLastName() }}</span>
                        </span>
                        <ng-container *ngIf="nationalities.length > 0">
                            <ng-container *ngFor="let country of nationalities">
                                <span class="mr-1 last:mr-0" [title]="country.title">{{ country.flag }}</span>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="mt-2 flex align-items-center" *ngIf="birthday">
                        <div class="birthday-icon-container mr-2">
                            <div class="relative top-1 text-light-grey">
                                <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'birthday-cake' }" />
                            </div>
                        </div>
                        <div *ngIf="birthday">
                            <span class="text-sm text-light-grey-darker">{{ birthday | date:'MMM d YYYY' }} ({{ getPersonAge() }} {{ 'date.yearsOld' | $t }})</span>
                        </div>
                    </div>
                    <app-external-links [externalLinks]="getExternalLinks()" />
                </div>
            </div>
        </div>

        <div class="bg-color-dark-grey-darker py-3 rounded-lg mt-3 mx-3" *ngIf="shouldDisplayPlayerStatistics()">
            <div class="pl-3 flex align-items-center mb-1">
                <div class="bold text-light text-lg">{{ getStatsForMainText() }}</div>
            </div>
            <div *ngIf="playerTotalStatsRows" class="pb-4">
                @for (totalStatsRow of playerTotalStatsRows; track $index) {
                    <div class="flex justify-content-evenly mt-8">
                        @for (statsItem of totalStatsRow; track $index) {
                            <div class="basis-1/3 flex flex-col align-items-center pointer hover:bg-color-dark-grey transition-colors p-2 mx-1 rounded-lg" (click)="onStatsItemClicked(statsItem.itemType, true)">
                                <div class="flex align-items-center mb-3 min-h-22">
                                    <div *ngIf="statsItem.iconDescriptor" [attr.title]="statsItem.titleText">
                                        <div class="width-1-25rem text-light" [ngClass]="statsItem.iconClasses ?? []">
                                            <app-ui-icon [descriptor]="statsItem.iconDescriptor" />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span>{{ statsItem.value }}</span>
                                </div>
                                <div class="flex-grow flex align-items-center mt-2 text-xs center text-light-grey-darker">{{ statsItem.titleText }}</div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

        <div class="bg-color-dark-grey-darker py-3 rounded-lg mt-3 mx-3" *ngIf="opponentStatsVisible()">
            <div class="pl-3 flex align-items-center mb-1">
                <div class="bold text-light text-lg">{{ getStatsAgainstMainText() }}</div>
            </div>
            <div *ngIf="opponentTotalStatsRows" class="pb-4">
                @for (opponentStatsRow of opponentTotalStatsRows; track $index) {
                    <div class="flex justify-content-evenly mt-8">
                        @for (opponentStatsItem of opponentStatsRow; track $index) {
                            <div class="basis-1/3 flex flex-col align-items-center pointer hover:bg-color-dark-grey transition-colors p-2 mx-1 rounded-lg" (click)="onStatsItemClicked(opponentStatsItem.itemType, false)">
                                <div class="flex align-items-center mb-3 min-h-22">
                                    <div *ngIf="opponentStatsItem.iconDescriptor" [attr.title]="opponentStatsItem.titleText">
                                        <div class="width-1-25rem text-light" [ngClass]="opponentStatsItem.iconClasses ?? []">
                                            <app-ui-icon [descriptor]="opponentStatsItem.iconDescriptor" />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span>{{ opponentStatsItem.value }}</span>
                                </div>
                                <div class="flex-grow flex align-items-center mt-2 text-xs center text-light-grey-darker">{{ opponentStatsItem.titleText }}</div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

        <ng-container *ngIf="playerCompetitionStats.length > 0">
            <div class="bg-color-dark-grey-darker p-3 rounded-lg mt-3 mx-3" >
                <div>
                    <app-stats-player-header [containerClasses]="'mb-6'" [headerText]="'performance.competitionStats' | $t" />
                    <app-stats-player-competition [competitionStats]="playerCompetitionStats" (filterOptionsSelected)="onFilterOptionsSelected($event)" />
                </div>
            </div>

            <div class="bg-color-dark-grey-darker p-3 rounded-lg mt-3 mx-3">
                <div>
                    <app-stats-player-stats [headerText]="'performance.seasonStats'" [performance$]="performance$" (filterOptionsSelected)="onFilterOptionsSelected($event)" />
                </div>
            </div>

            <div class="bg-color-dark-grey-darker p-3 rounded-lg mt-3 mx-3 mt-3" *ngIf="goalsAgainstClubsVisible()">
                <div class="flex align-items-center mb-4">
                    <div class="bold text-light text-base">{{ 'player.goalsAgainstClubs' | $t }}</div>
                </div>
                <div>
                    <app-stats-goals-against-clubs [goalsAgainstClubs]="person.stats?.goalsAgainstClubs ?? []" (filterOptionsSelected)="onFilterOptionsSelected($event)" />
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="refereeListVisible()">
            <div class="bg-color-dark-grey-darker p-3 rounded-lg mt-3 mx-3 mt-3 ">
                <app-filterable-game-list [games$]="refereeGames$" />
            </div>
        </ng-container>
    </div>
</ng-template>