<div class="transition-fade" [ngClass]="{ 'hidden-fade': !isActive() }">
    @switch (modalType()) {
        @case ('confirmAddPerson') {
            <app-modal-confirm-add-person />
        }
        @case ('delete') {
            <app-delete-modal />
        }
        @case ('filterGameList') {
            <app-modal-game-list-filter />
        }
        @case ('shirt') {
            <app-modal-select-shirt />
        }
        @case ('stats') {
            <app-stats-modal />
        }
    }
</div>