@let shouldCenterOptions = false;
<div class="pointer user-select-none" role="select" appClickOutside (clickOutside)="handleOutsideClick()">
    <div #main (click)="toggleDropdown()">
        {{ getSelectedString() }}
    </div>
    <div class="select-options text-sm" [ngClass]="{ 'visible': isOpen() }" [style.width]="optionsWidth()">
        @for (option of options(); track option.id) {
            @let isSelected = isOptionCurrentlySelected(option.id);
            <div class="select-option px-3 py-2 flex align-items-center" (click)="toggleOption(option.id)" [ngClass]="{ 'selected': isSelected }">
                <ng-container *ngIf="option.icon">
                    <div class="basis-1/10 mr-1">
                        <div class="width-1-75rem flex align-items-center">
                            <app-ui-icon [descriptor]="option.icon" />
                        </div>
                    </div>
                </ng-container>
                <div class="flex-grow-1" [ngClass]="{ 'center': shouldCenterOptions }">{{ option.name }}</div>
                <div *ngIf="isSelected" class="basis-1/20 icon">
                    <app-ui-icon [descriptor]="{ 'type': 'standard', 'content': 'check' }" />
                </div>
            </div>
        }
    </div>
</div>