@let record = gameRecord();
<ng-container *ngIf="record !== null; else loading">
    <div class="flex align-items-center justify-content-center py-3">
        <div class="px-3 min-w-120">
            <div class="flex justify-content-center">
                <span class="text-xl">{{ record.w }}</span>
            </div>
            <div class="mt-2 text-xs center text-light-grey-darker">{{ getWinsText(record.w) }}</div>
        </div>
        <div class="px-3 min-w-120">
            <div class="flex justify-content-center">
                <span class="text-xl">{{ record.d }}</span>
            </div>
            <div class="mt-2 text-xs center text-light-grey-darker">{{ getDrawsText(record.d) }}</div>
        </div>
        <div class="px-3 min-w-120">
            <div class="flex justify-content-center">
                <span class="text-xl">{{ record.l }}</span>
            </div>
            <div class="mt-2 text-xs center text-light-grey-darker">{{ getLossesText(record.l) }}</div>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    loading...
</ng-template>