@let absencesValue = absences();
@let suspendedValue = suspended();
@let injuredValue = injured();
@let atRiskValue = atRisk();
@let otherValue = other();
<div *ngIf="absencesValue.length > 0; else emptyAbsences">
    <div>
        <div class="section-title">{{ 'absence.injured' | $t }}</div>
        <div *ngIf="injuredValue.length > 0; else emptyCategory">
            @for (injuredItem of injuredValue; track injuredItem.id) {
            <div class="my-3">
                <app-game-absence [absence]="injuredItem" (onPersonClick)="onPersonClicked($event)" />
            </div>
        }
        </div>
    </div>
    <div class="pt-4">
        <div class="section-title">{{ 'absence.suspended' | $t }}</div>
        <div *ngIf="suspendedValue.length > 0; else emptyCategory">
            @for (suspendedItem of suspendedValue; track suspendedItem.id) {
                <div class="my-3">
                    <app-game-absence [absence]="suspendedItem" (onPersonClick)="onPersonClicked($event)" />
                </div>
            }
        </div>
    </div>
    <div class="pt-4" *ngIf="otherValue.length > 0">
        <div class="section-title">{{ 'absence.other' | $t }}</div>
        @for (otherItem of otherValue; track otherItem.id) {
            <div class="my-3">
                <app-game-absence [absence]="otherItem" (onPersonClick)="onPersonClicked($event)" />
            </div>
        }
    </div>
    <div class="pt-4">
        <div class="section-title">{{ 'absence.atRisk' | $t }}</div>
        <div *ngIf="atRiskValue.length > 0; else emptyCategory">
            @for (atRiskItem of atRiskValue; track atRiskItem.id) {
                <div class="my-3">
                    <app-game-absence [absence]="atRiskItem" (onPersonClick)="onPersonClicked($event)" />
                </div>
            }
        </div>
    </div>
</div>
<ng-template #emptyAbsences>
    {{ 'absences.none' | $t }}
</ng-template>
<ng-template #emptyCategory>
    <div class="flex align-items-center justify-content-start">
        {{ 'absences.none' | $t }}
    </div>
</ng-template>