.card-container {
    width: 3rem;
}

.card-yellow-red-yellow {
    display: inline-block;
    position: relative;
    top: 3px;
    left: -2px;
    z-index: 10;
}

.card-yellow-red-red {
    display: inline-block;
    position: relative;
    left: -9px;
    z-index: 11;
}