<app-game-event [event]="event">
    <div info>
        <div class="w-full flex align-items-center justify-content-center">
            <div *ngIf="event.cardType === 'yellow'" class="card-yellow"></div>
            <div *ngIf="event.cardType === 'red'" class="card-red"></div>
            <div *ngIf="event.cardType === 'yellowRed'">
                <div class="inline-block card-yellow-red-yellow card-yellow"></div>
                <div class="inline-block card-yellow-red-red card-red"></div>
            </div>
        </div>
    </div>
    <div person>
        <div class="game-event-scored-by text-sm">{{ getPersonName() }}</div>
        <div *ngIf="event.reason" class="text-xs text-light-grey">
            {{ getReason() }}
        </div>
    </div>
</app-game-event>   