<app-game-event [event]="event">
    <div info>
        <div class="w-full flex align-items-center justify-content-center">
            <div *ngIf="event.cardType === 'yellow'" class="card-yellow"></div>
            <div *ngIf="event.cardType === 'red'" class="card-red"></div>
            <div *ngIf="event.cardType === 'yellowRed'">
                <div class="inline-block card-yellow-red-yellow card-yellow"></div>
                <div class="inline-block card-yellow-red-red card-red"></div>
            </div>
        </div>
    </div>
    <div person>
        <div class="flex align-items-center">
            <div class="flex-grow">
                <div class="game-event-scored-by text-sm">{{ getPersonName() }}</div>
                <div *ngIf="event.reason" class="text-xs text-light-grey">
                    {{ getReason() }} <span *ngIf="event.notOnPitch">{{ getNotOnPitchText() }}</span>
                </div>
            </div>
            <div *ngIf="isVarEvent()" class="game-event-score px-2 py-1 rounded-md center bg-color-dark-grey-lighter text-sm mr-1">
                VAR
            </div>
        </div>
    </div>
</app-game-event>   