@let seasonStatsItemValue = seasonStatsItem();
<div class="season-item">
    <app-collapsible [isOpen]="detailsOpen()" (onClicked)="toggle()">
        <ng-container header>
            <div class="flex align-items-center bold mb-3">
                <div class="basis-1/2 flex-grow-1 pointer" (click)="toggle()">{{ seasonStatsItemValue.season.name }}</div>
                <div class="basis-1/8">
                    <div class="text-right pr-1">
                        <span class="pointer hover:bg-color-dark-grey-lighter-2 transition-colors p-1 rounded-md" (click)="seasonTotalClicked(seasonStatsItemValue.season.id, 'minutesPlayed')">{{ seasonStatsItemValue.total.gamesPlayed }}</span>
                    </div>
                </div>
                <div class="basis-1/8">
                    <div class="text-right pr-1">
                        <span class="pointer hover:bg-color-dark-grey-lighter-2 transition-colors p-1 rounded-md" (click)="seasonTotalClicked(seasonStatsItemValue.season.id, 'goalsScored')">{{ seasonStatsItemValue.total.goalsScored }}</span>
                    </div
                ></div>
                <div class="basis-1/8">
                    <div class="text-right pr-1">
                        <span class="pointer hover:bg-color-dark-grey-lighter-2 transition-colors p-1 rounded-md" (click)="seasonTotalClicked(seasonStatsItemValue.season.id, 'assists')">{{ seasonStatsItemValue.total.assists }}</span>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container content>
            <div class="ml-2" [ngClass]="{ 'mb-4': !isLastItem }">
                <app-stats-player-competition [competitionStats]="seasonStatsItemValue.competitionStats" (filterOptionsSelected)="seasonCompetitionClicked(seasonStatsItemValue.season.id, $event)" />
            </div>
        </ng-container>
    </app-collapsible>
</div>