@let shirtWornByValue = shirtWornBy();
<app-collapsible [isOpen]="detailsOpen()" (onClicked)="toggle()">
    <div header>
        <div class="flex align-items-center py-1 mt-2">
            <div class="basis-4/5">
                <app-person-card [person]="shirtWornByValue.person" />
            </div>
            <div class="basis-1/5 text-right">
                {{ shirtWornByValue.wornCount }}
            </div>
        </div>
    </div>
    <div content>
        deetz
    </div>
</app-collapsible>