<div class="bg-color-dark-grey-darker hover:bg-color-dark-grey-mid transition-bg-color p-2 rounded-lg mt-3 pointer">
    <div class="flex justify-content-start text-xs text-light-grey mb-4">
        <div>{{ getDateText() }}</div>
    </div>
    <div class="flex align-items-center justify-content-center">
        <div class="basis-3/7 flex justify-content-end">
            <app-small-club [club]="getHomeTeam()" [iconPosition]="'right'" />
        </div>
        <div class="basis-1/8 mx-2">
            <ng-container *ngIf="getGameStatus() === 'Finished'; else scheduled">
                <div class="game-result-tendency px-2 py-1 rounded-md center bold" [ngClass]="getResultTendencyClass()">{{ getGameScoreBeforePso() }}</div>
                <div class="text-xs mt-2 center" *ngIf="hasExtendedPlay()">{{ getExtendedPlayText() }}</div>
            </ng-container>
            <ng-template #scheduled>
                <div class="center text-sm" [ngClass]="getGameStatusClasses()">{{ getGameStatusText() }}</div>
            </ng-template>
        </div>
        <div class="basis-3/7">
            <app-small-club [club]="getAwayTeam()" />
        </div>
    </div>
</div>