<section class="dashboard-container mt-3 px-3 py-2">
    <div class="flex align-items-center mt-1 mb-8">
        <div class="basis-1/5 pl-2 mr-2">
            <div class="width-3-5rem relative top-2">
                <app-main-flag />
            </div>
        </div>
        <div class="flex-grow flex align-items-center">
            @let name = loginName();
            <div class="text-2xl">{{ 'dashboard.welcome' | $t }}<span *ngIf="name !== null">, <span class="bold">{{ name }}</span></span>!</div>
        </div>
    </div>
    <div class="mb-8" *ngIf="dashboard?.upcomingGame">
        <div class="dashboard-item-title border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'dashboard.nextGame' | $t }}
        </div>
        <div class="dashboard-item-content">
            <app-game-overview [game]="dashboard!.upcomingGame!" [mainClub]="mainClub" (click)="triggerNavigateToGame(dashboard!.upcomingGame!)" />
        </div>
    </div>

    <div class="mb-8" *ngIf="dashboard?.lastGame">
        <div class="dashboard-item-title border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'dashboard.lastGame' | $t }}
        </div>
        <div class="dashboard-item-content">
            <app-game-overview [game]="dashboard!.lastGame!" [mainClub]="mainClub" (click)="triggerNavigateToGame(dashboard!.lastGame!)" />
        </div>
    </div>

    <div class="mb-8">
        <div class="dashboard-item-title border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'dashboard.performanceTrend' | $t }}
        </div>
        <div class="dashboard-item-content pt-3">
            <app-game-performance-trend [games$]="games" [applyInnerPadding]="true" [noGamesText]="'performanceTrend.noSeasonGames' | $t">
                    <div class="mb-2 width-lg" noGamesIcon>
                        <app-football-shoe />
                    </div>
                </app-game-performance-trend>
        </div>
    </div>

    <div class="mb-8" *ngIf="dashboard?.topScorers">
        <div class="dashboard-item-title border-l-3 border-l-solid border-l-light bold text-sm uppercase pl-3 ml-1">
            {{ 'dashboard.topScorers' | $t }}
        </div>
        <div class="bg-color-dark-grey-darker rounded-lg p-2 mt-3">
            <app-player-ranking [loading]="topScorersLoading$" [ranking]="topScorersRanking$" [competitionChips$]="competitionChips$" (onPlayerSelected)="onPlayerClicked($event)" (onCompetitionFilterChanged)="onCompetitionFilterChanged($event)" />
        </div>
    </div>
</section>